@media only screen and (min-width: 1224px) {
  .Category {
    height: 630px;
    color: black;
    background-color: transparent;
    margin: 20px;
    justify-content: space-around;
    text-align: center;
    display: flex;
  }
  .Loading-Text {
    color: white;
  }
  .content {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 1224px) {
  .Category {
    height: 630px;
    color: black;
    background-color: transparent;
    margin: 20px;
    justify-content: space-around;
    text-align: center;
  }
  .Loading-Text {
    color: white;
  }
}
