.Category {
  height: 630px;
  color: black;
  background-color: transparent;
  margin: 20px;
  justify-content: space-around;
  text-align: center;
  display: flex;
}
.Loading-Text {
  color: white;
  
}
